/*
Font: 		Geliat
Style: 		Alt ExtraBold
URL: 		https://www.youworkforthem.com/font/T13698/geliat
Foundry: 	Wahyu & Sani Co.
Foundry: 	https://www.youworkforthem.com/designer/1352/wahyu-amp-sani-co
Copyright:	2021 Wahyu & Sani Co. All Rights Reserved.
Version: 	17
Created:	February 19, 2021
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Geliat-AltExtraBold';
	src: url('geliat-alt-extrabold.eot');
	src: url('geliat-alt-extrabold.eot?#iefix') format('embedded-opentype'),
             url('geliat-alt-extrabold.woff2') format('woff2'),
	     url('geliat-alt-extrabold.woff') format('woff'),
	     url('geliat-alt-extrabold.ttf') format('truetype'),
	     url('geliat-alt-extrabold.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
